---
import Layout from "../layouts/Layout.astro";
const imgClass = "w-1/2 h-auto mt-5 mb-5";
const alt = "screen shot of goje software";
---

<Layout title="goje desktop | Screenshots">
  <div class="flex flex-col items-center">
    <img class={imgClass} src="/assets/screenshots/1.png" alt={alt} />
    <img class={imgClass} src="/assets/screenshots/2.png" alt={alt} />
    <img class={imgClass} src="/assets/screenshots/3.png" alt={alt} />
    <img class={imgClass} src="/assets/screenshots/4.png" alt={alt} />
    <img class={imgClass} src="/assets/screenshots/5.png" alt={alt} />
  </div>
</Layout>
